<h2 mat-dialog-title>Add new file</h2>
<mat-dialog-content>
    <div>
        <form [formGroup]="form">
            <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field><br>

            <mat-form-field>
                <input matInput placeholder="Addressee" formControlName="addressee">
            </mat-form-field><br>

            <mat-form-field>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" formControlName="expirationDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field><br>
            <mat-form-field>
                <ngx-mat-file-input [accept]="'.pdf'" formControlName="fileName" placeholder="Choose file"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field><br>

            <mat-checkbox labelPosition="before" formControlName="sameIp">Same IP</mat-checkbox>
        </form>

        <p *ngIf="errorText$|async as text">{{text}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="form.invalid || isLoading" (click)="add()">Add</button>
    <button mat-button [mat-dialog-close]="false">Close</button>
</mat-dialog-actions>
