<!--<ng-container *ngIf="getFile$ | async as file; else noFile">
    file
    <pdf-viewer [src]="file"
                [render-text]="false"
                style="display: block;"
    ></pdf-viewer>
</ng-container>
<ng-template #nofile>
    no file
</ng-template>
-->
<ng-container *ngIf="getFile$|async as url">
    <pdf-viewer [src]="url"
                [render-text]="false"
                [fit-to-page]="true"
                (error)="onError($event)"
                *ngIf="errorStatus == 200"
                style="display: block;"
    ></pdf-viewer>

</ng-container>

<ng-container *ngIf="errorStatus == 403">
    <h1>Document is not available</h1>
</ng-container>

<ng-container *ngIf="errorStatus == 409">
    <h1>Document is not found</h1>
</ng-container>

<ng-container *ngIf="errorStatus == 400">
    <h1>Error</h1>
</ng-container>
