<h2 mat-dialog-title>Accessed Info</h2>
<mat-dialog-content>
    <ng-container *ngIf="(accessed$|async) as dataSource">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length; else noAccess">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.accessDate | amDateFormat:'DD/MM/YYYY'}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Time </th>
                <td mat-cell *matCellDef="let element"> {{element.accessDate | amDateFormat:'HH:mm'}} </td>
            </ng-container>

            <ng-container matColumnDef="ipAddress">
                <th mat-header-cell *matHeaderCellDef> IP </th>
                <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
            </ng-container>

            <ng-container matColumnDef="opened">
                <th mat-header-cell *matHeaderCellDef> Opened </th>
                <td mat-cell *matCellDef="let element"> {{element.opened ? "yes" : "no"}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <ng-template #noAccess>No access data</ng-template>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
