@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.fill-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}


.center{
    width: 75%;
    margin: 10px auto;
}

.main-div{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

.dialog-container, .dialog-container .mat-dialog-container {
    max-width: 100vw !important;
}

mat-form-field {
    width: 100%;
}
