<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>{{data.text}}</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button *ngFor="let button of data.buttons;" [mat-dialog-close]="true">{{button.title}}</button>
</mat-dialog-actions>

