<div class="main-div">
    <mat-card class="z-depth center" flex="50">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form">
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Username" formControlName="login">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field>
                            <input matInput placeholder="Password" type="password" formControlName="password">
                        </mat-form-field></td>
                    </tr></table>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid || isLoading" mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
