<ng-container *ngIf="(docs$|async) as dataSource">
    <h3 *ngIf="filename$|async as filename">
        Document was added. Link:
        <a [routerLink]="['/get-document', filename]">{{filenamePrefix}}/get-document/{{filename}}</a>
    </h3>
    <ng-container *ngIf="total; else noDocs">
        <h2>Documents list</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef> Link </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="showLink(element.fileNameFull)" aria-hidden="false" aria-label="Add new doc">link</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> User </th>
                <td mat-cell *matCellDef="let element"> {{element.user}} </td>
            </ng-container>

            <ng-container matColumnDef="fileName">
                <th mat-header-cell *matHeaderCellDef> File name </th>
                <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="addressee">
                <th mat-header-cell *matHeaderCellDef> Addressee </th>
                <td mat-cell *matCellDef="let element"> {{element.addressee}} </td>
            </ng-container>

            <ng-container matColumnDef="expirationDate">
                <th mat-header-cell *matHeaderCellDef> Expiration date </th>
                <td mat-cell *matCellDef="let element"> {{element.expirationDate}} </td>
            </ng-container>

            <ng-container matColumnDef="sameIp">
                <th mat-header-cell *matHeaderCellDef> Same IP </th>
                <td mat-cell *matCellDef="let element"> {{element.sameIp ? "yes" : "no"}} </td>
            </ng-container>

            <ng-container matColumnDef="opened">
                <th mat-header-cell *matHeaderCellDef> Opened </th>
                <td mat-cell *matCellDef="let element">
                    {{element.opened ?
                    (element.opened | amDateFormat:'HH:mm DD/MM/YYYY') : "Never"}} </td>
            </ng-container>

            <ng-container matColumnDef="accessed">
                <th mat-header-cell *matHeaderCellDef> Accessed </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="showAccessed(element.id)">Show</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
            (page)="pageEvent = changePage($event)"
            [length]="total"
            [pageSize]="take">
        </mat-paginator>
    </ng-container>
    <ng-template #noDocs>
        <h2>Documents list is empty</h2>
    </ng-template>
</ng-container>
